{{#
@name Articles item
@desc A Articles item component.
@param class Add optional CSS classes.
#}}

<!-- /components/_articles_item.antlers.html -->
<article class="flex flex-col {{ class }}">
    <a href="{{ url }}"
        class="group p-1 -m-1 focus:outline-none focus-visible:ring-2 ring-primary group">
        <figure class="mb-4">
            {{ partial:statamic-peak-tools::components/picture :image="image"
            sizes="(min-width: 1280px) 430px, (min-width: 768px) 30vw, 90vw"
            aspect_ratio="3/2" lazy="true" cover="true" class="aspect-[3/2]" }}
        </figure>

        <div class="flex flex-col gap-y-2">
            {{ partial:typography/time :content="date" class="text-sm" }}

            {{ partial:typography/h3 :content="title" class="mt-3 text-lg font-bold leading-6 text-secondary font-mono  group-hover:text-secondary-900 transition-colors"
            }}

            {{ partial:typography/p :content="teaser" }}
        </div>
    </a>
</article>
<!-- End: /components/_articles_item.antlers.html -->
