{{#
@name Footer
@desc The sites footer rendered on each page.
#}}

<!-- /layout/_footer.antlers.html -->
<footer class="w-full py-4 mt-auto">
    <my-card>Test</my-card>
    <super-slider unit="em"
        target=".preview h1">
        <label slot="label" for="title-size">Title font size</label>
        <input slot="input" id="title-size" type="range" min="0.5" max="4"
            step="0.1" value="2" />
    </super-slider>
    <super-slider unit="em" target=".preview h2">
        <label slot="label">Subtitle font size</label>
        <input slot="input" type="range" min="0.5" max="2.5" step="0.1"
            value="1.5" />
    </super-slider>

    <div class="preview">
        <h1>This is a title</h1>
        <h2>This is a subtitle</h2>
    </div>
    <div
        class="fluid-container flex flex-col space-y-4 md:space-y-0 md:flex-row md:justify-between md:space-x-4 md:items-center ">
        <div
            class="flex flex-col space-y-4 md:flex-row md:space-y-0 md:space-x-4 text-xs italic">
            <span>
                &copy; {{ configuration:copyright_since }}
                {{ unless (now | format('Y')) == configuration:copyright_since
                }}
                - {{ now | format('Y') }}
                {{ /unless }}
                {{ configuration:copyright_name ?? config:app:name }}
            </span>

            {{# Let's users reset their cookie consent when you use the cookie
            banner. #}}
            {{ yield:reset_cookie_consent }}
        </div>
        {{ if social_media:social_media }}
        <div class="flex space-x-2">
            {{ social_media:social_media }}
            <a
                class="p-1 -m-1 text-neutral hover:text-primary focus:outline-none focus-visible:ring-2 ring-primary"
                href="{{ prefix }}{{ handle }}"
                rel="noopener{{ (type == 'mastodon' || type == 'github') ?= ' me' }}"
                aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}"
                target="_blank">{{ svg :src="type"
                class="w-5 h-5 overflow-visible fill-current"
                alt="" aria-hidden="true" sanitize="true" }}</a>
            {{ /social_media:social_media }}
        </div>
        {{ /if }}

    </div>
</footer>
<!-- End: /layout/_footer.antlers.html -->
